PORT = 8000
MONGODB-URI= mongodb+srv://bhosalegaurav39_db_user:your-password@cluster0.mmi9bne.mongodb.net
CORS_ORIGIN = *
ACCESS_TOKEN_SECRET=wertghgfdsdfghjhgtresxcvbhytrd
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=mnbgfdcvbnjuytrfdcvbnhytresdf
REFRESH_TOKEN_EXPIRY=10d